<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="chatMapper">
	
	<resultMap type="User" id="user_rm">
		<id property="userNo" column="USER_NO"/>
		<result property="userId" column="USER_ID"/>
		<result property="userPw" column="USER_PW"/>
		<result property="nickname" column="USER_NM"/>
		<result property="status" column="USER_STATUS"/>
		<result property="enrollDate" column="ENROLL_DT"/>
	</resultMap>

	<resultMap type="Goods" id="goods_rm">
	    <id property="goodsNo" column="GOODS_NO"/>
	    <result property="userNo" column="USER_NO"/>
	    <result property="categoryNo" column="CATEGORY_NO"/>
	    <result property="goodsTitle" column="GOODS_TITLE"/>
	    <result property="goodsDescr" column="GOODS_DESCR"/>
	    <result property="goodsPrice" column="GOODS_PRICES"/>
	    <result property="viewCount" column="VIEW_COUNT"/>
	    <result property="enrollDate" column="SELL_ENROLL_DT"/>
	    <result property="goodsStatus" column="GOODS_STATUS"/>
	</resultMap>
	
	<resultMap type="Room" id="room_rm">
	 	<id property="chatRoomNo" column="CHATROOM_NO"/>
	    <result property="goodsNo" column="GOODS_NO"/>
	    <result property="goodsTitle" column="GOODS_TITLE"/>
	    <result property="goodsPrice" column="GOODS_PRICES"/>
	    <result property="thumbNail" column="GOODS_THUMBNAIL"/>
	    <result property="goodsNo" column="GOODS_NO"/>
	    <result property="user1No" column="USER1_NO"/>
	    <result property="user1Nickname" column="USER1_NM"/>
	    <result property="user2No" column="USER2_NO"/>
	    <result property="user2Nickname" column="USER2_NM"/>
	</resultMap>
	
	<resultMap type="Message" id="message_rm">
	 	<id property="messageNo" column="MESSAGE_NO"/>
	    <result property="chatRoomNo" column="CHATROOM_NO"/>
	    <result property="senderUserNo" column="SENDER_USER_NO"/>
	    <result property="receiverUserNo" column="RECEIVER_USER_NO"/>
	    <result property="message" column="MESSAGE"/>
	    <result property="messageSentDT" column="MESSAGE_SEND_DT"/>
	    <result property="readMessage" column="READ_MESSAGE"/>
	</resultMap>

	<select id="selectRoomList" resultMap="room_rm">
		SELECT CHATROOM_NO, a.GOODS_NO, USER1_NO, USER1_NM, USER2_NO, USER2_NM, GOODS_TITLE, GOODS_PRICES, IFNULL(FILE_PATH, '/resources/images/board/dummy3.png') GOODS_THUMBNAIL
		FROM chat_room a
		LEFT JOIN goods b ON a.GOODS_NO = b.GOODS_NO 
		LEFT JOIN (SELECT GOODS_NO, FILE_PATH, FILE_ORDER FROM files WHERE FILE_ORDER = 0) c ON a.GOODS_NO = c.GOODS_NO
		LEFT JOIN (SELECT USER_NO, USER_NM AS USER1_NM FROM user) d ON a.USER1_NO = d.USER_NO 
		LEFT JOIN (SELECT USER_NO, USER_NM AS USER2_NM FROM user) e ON a.USER2_NO = e.USER_NO
		WHERE a.USER1_NO = #{userNO}
		OR a.USER2_NO = #{userNo}
		ORDER BY CHATROOM_NO DESC
	</select>
		
	<select id="checkRoomNo" parameterType="map" resultType="_int">
		SELECT IFNULL(SUM(CHATROOM_NO), 0) CHATROOM_NO 
		FROM chat_room
		WHERE USER1_NO = #{user1No}
		AND USER2_NO = #{user2No}
		AND GOODS_NO = #{goodsNo}
	</select>
	
	<insert id="createRoom" parameterType="map" useGeneratedKeys="true">
		
		
		<selectKey keyProperty="roomNo" order="BEFORE" resultType="_int">
			SELECT (MAX(CHATROOM_NO)+1) CHATROOM_NO FROM chat_room 
		</selectKey>
		
		INSERT INTO chat_room
		(CHATROOM_NO, GOODS_NO, USER1_NO, USER2_NO )
		VALUES 
		(#{roomNo}, #{goodsNo}, #{user1No}, #{user2No} )
		
	</insert>
	
	<insert id="insertMessage">
		INSERT INTO chat_message
		(CHATROOM_NO, SENDER_USER_NO, RECEIVER_USER_NO, MESSAGE)
		VALUES
		(#{chatRoomNo}, #{senderUserNo}, #{receiverUserNo}, #{message})
	</insert>
	
	<select id="selectMessageList" resultMap="message_rm">
		SELECT *
		FROM chat_message
		WHERE CHATROOM_NO = ${chatRoomNo}
	</select>
		
</mapper>









