.content-w{
    width: 960px;
}

main{
    height: auto;
    min-height: calc(100% - 167px - 96px);
    /* 
        48px = header 1
        119px = header 2
        80px = footer
        16px = main margin-top
    */
}

footer{
    height: 80px;
}


.confirm{ color : green; }
.error{ color : red; }
